<div class="row">
    <div class="col-md-7">
        <div class="row">
            <ngx-gallery style="height: 500px;" *ngIf='images' [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
        </div>
    </div>
    <div class="col-md-5">
        <table *ngIf='car' class="table table-bordered mt-5">
                <tr >
                    <th class="py-2">Brand</th>
                    <td>{{car.brand}}</td>
                </tr>
                <tr>
                    <th class="py-2">Model</th>
                    <td>{{car.carName}}</td>
                </tr>
                <tr>
                    <th class="py-2">Model Year</th>
                    <td>{{car.modelYear}}</td>
                </tr>
                <tr>
                    <th class="py-2"> Description</th>
                    <td>{{car.description}}</td>
                </tr>
                <tr>
                    <th class="py-2">Color</th>
                    <td>{{car.color}}</td>
                </tr>
                <tr>
                    <th class="py-2">Daily Price</th>
                    <td>{{car.dailyPrice | currency: '₺'}}</td>
                </tr>
        </table>
        <div class="d-grid gap-2">
            <a href="#multiCollapseExample1"  class="btn btn-primary" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Rent</a>
        </div>
    </div>

    <div class="collapse multi-collapse mb-5" id="multiCollapseExample1">
        <div class="card card-body">
            
            <form [formGroup] = 'addRentalForm' class="shadow p-3">
                <input type="number" hidden formControlName = 'carId'>
                <div class="form-group row mb-3">
                    <label class="col-form-label col-md-3">Customer</label>
                    <div class="col-md-9">
                        <select class="form-select" formControlName="customerId">
                            <option selected disabled>Customer</option>
                            <option *ngFor='let customer of customers' [ngValue] = 'customer.id'>{{customer.companyName}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-form-label col-md-3">Rent Date</label>
                    <div class="col-md-9">
                        <input type="date" formControlName='rentDate' class="form-control">
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-form-label col-md-3">Return Date </label>
                    <div class="col-md-9">
                        <input type="date" formControlName='returnDate' class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="offset-md-3 col-md-9">
                        <button class="btn btn-primary" (click) = 'addRental()'>Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
        
</div>