<div class="row">
    <div class="col-md-7">
        <div class="row">
            <ngx-gallery style="height: 500px;" *ngIf='images' [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
        </div>
    </div>
    <div class="col-md-5">
        <table *ngIf='car' class="table table-bordered mt-5">
                <tr >
                    <th class="py-2">Brand</th>
                    <td>{{car.brand}}</td>
                </tr>
                <tr>
                    <th class="py-2">Model</th>
                    <td>{{car.carName}}</td>
                </tr>
                <tr>
                    <th class="py-2">Model Year</th>
                    <td>{{car.modelYear}}</td>
                </tr>
                <tr>
                    <th class="py-2"> Description</th>
                    <td>{{car.description}}</td>
                </tr>
                <tr>
                    <th class="py-2">Color</th>
                    <td>{{car.color}}</td>
                </tr>
                <tr>
                    <th class="py-2">Daily Price</th>
                    <td>{{car.dailyPrice | currency: '₺'}}</td>
                </tr>
        </table>
        <div class="d-grid gap-2">
            <a routerLink="/rental/{{car.id}}" class="btn btn-primary">Rent</a>
        </div>
    </div>

        
</div>